.border {
    border: 1px solid;
    width: 245px;
    height: 288px;
    
}
#score {
    width: 230px;
    height: 35px;
}

#button {
    width: 55px;
    height: 55px;
    font-size: 22px;
    font-style: bold;
    cursor: pointer;
}